@model IEnumerable<ExeRH.ViewModels.JobPositionSkillAssignmentRatingViewModel>

<div class="container">
    <h2>Triagem</h2>
    <a asp-action="Index">Voltar à lista</a>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SkillName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th><!-- buttons --></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        <a asp-action="EditRating" asp-route-id="@item.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
