@model ExeRH.ViewModels.InterviewDetailsViewModel

<div class="container">
    <h2>@Model.UserName</h2>
    <a asp-action="Index" class="btn btn-link">Voltar à lista</a>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.JobPositionName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobPositionName)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Skills)
            </dt>
            <dd>
                @foreach (var s in Model.Skills)
                {
                    <div>
                        @s.SkillName
                    </div>
                }
            </dd>
        </dl>
    </div>
</div>
