@model IEnumerable<ExeRH.ViewModels.TechnologySkillViewModel>

<div class="container">
    <h2>Tecnologias</h2>
    <a asp-controller="Skill" asp-action="Create">Adicionar Novo</a>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayName)
                </th>
                <th><!-- buttons --></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { onclick = "return confirm('Do you really want to delete " + item.DisplayName + "?')" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
